<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cf.hbs18.studybuddy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyBuddy">
        <activity android:name=".EditQuestionSet"
            android:parentActivityName=".QuestionSetPicker"></activity>
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".QuestionSetPicker" />
        <activity
            android:name=".AboutScreen"
            android:parentActivityName=".QuestionSetPicker" />
        <activity
            android:name=".QuestionSetPicker"
            android:label="@string/app_name"
            android:theme="@style/Theme.StudyBuddy.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionSetDetails"
            android:parentActivityName=".QuestionSetPicker" />
        <activity android:name=".InterrogationView"
            android:parentActivityName=".QuestionSetPicker"/>
        <activity android:name=".SequentialInterrogation"
            android:parentActivityName=".QuestionSetPicker"/>
    </application>

</manifest>